form {
  @apply w-full;
}

.input-container {
  @apply md:w-1/2 w-full mt-4 bg-red-300;
}

input[type="text"] {
  @apply focus:ring-gray-500 focus:border-gray-900 sm:text-sm focus:outline-none w-full px-4 py-2 text-gray-600 border border-gray-300 rounded-md;
}