$maskimage: url("../../../images/fib-mask-1800.svg");
$watermarkimage: url("../../../images/watermark.png");

/* Masking */

div.mask-wrapper {
  mask: initial;
}
body[class^="scroll"] #subnav {
  mask: no-repeat 10px -20px $maskimage;
}

body[class^="scroll"] .mask-wrapper {
  mask: initial;
}

@media (min-width: 1024px) {
  div.mask-wrapper {
    @apply relative z-40 overflow-hidden;
    mask: no-repeat 10px -20px $maskimage;
  }
  div.mask-wrapper:hover {
    height: 346px;
  }
}

#subnav {
  @apply -mt-11 lg:block fixed hidden w-full;
  height: 5.75rem;
}

#subnav nav.nav {
  @apply text-balance-lg w-full h-8;
}

#subnav .nav-title,
#subnav .nav-links,
#subnav .nav-links > li > a {
  @apply flex;
}

#subnav .nav-links {
  @apply flex flex-row-reverse justify-end w-1/3 pl-8;
}

li.hoverable {
  > div.mega-menu {
    @apply absolute inset-x-0 z-10 w-full;

    .mega-menu-wrapper {
      background: no-repeat 0.5rem -3.25rem $watermarkimage;
      height: 346px;
      @apply flex mt-4 bg-gray-800;
    }
  }
}

.hero-message {
  @apply w-1/3 px-4 mb-8 text-right text-white;

  h2 {
    @apply py-4 text-2xl font-bold;
  }

  p {
    width: 50%;
    float: right;
  }
}

.inset {
  @apply bg-balance-secondary grid w-2/3 grid-cols-4 grid-rows-1 gap-2 px-2 pr-4 mt-5;
}

/* Hoverable Menu Activation */
.inset,
.mega-menu {
  display: none;
}

.hoverable:hover .inset {
  display: grid;
}

.hoverable:hover .mega-menu {
  display: block;
}

body[class^="scroll"] #subnav .nav-links .mega-menu {
  display: none;
}

/* Fixed Nav Links in top-left */
/* --------------------------- */
#subnav .nav-links > li.hoverable {
  @apply bg-balance-lp z-20 pl-6 font-light border-2 rounded-full;
  margin-left: -1.3rem;

  > a {
    @apply text-sm font-semibold leading-9 tracking-wider;
  }
}

#subnav .nav-links > li.hoverable {
  @apply bg-gradient-to-r from-balance-dp to-transparent pr-2;
}
#subnav .nav-links > li.hoverable:last-of-type {
  @apply pl-14;
}

/* ---  Scroll behaviour --- */
body[class^="scroll"] #subnav .nav-links > li.hoverable {
  border: none;
  padding: 0;
}

body[class^="scroll"] #subnav .nav-links > li.hoverable.active {
  @apply pl-28 text-balance-secondary;
  min-width: 12rem;
  order: 1; /* Send it to the front of the flex row to display */
  margin-left: -1.3rem;
}

body[class^="scroll"] #subnav .nav-links > li.hoverable.inactive {
  order: 2;
  width: 0;
  transition: width 500ms;
  overflow: hidden;
}

#subnav .nav-links > li.hoverable:hover {
  @apply text-balance-lmint;
}
