$maskimage: url("../../../images/fib-mask-1800.svg");
$watermarkimage: url("../../../images/watermark.png");

.logo-link {
  @apply fixed z-50 hidden lg:block;
  top: 1px;
  left: 1px;
}

/* Masking */

div.mask-wrapper {
  mask: initial;
}
body[class^="scroll"] #subnav {
  mask: no-repeat 10px -20px $maskimage;
}

body[class^="scroll"] .mask-wrapper {
  mask: initial;
}

@media (min-width: 1024px) {
  div.mask-wrapper {
    @apply relative z-40 overflow-hidden;
    mask: no-repeat 10px -20px $maskimage;
  }
  div.mask-wrapper:hover {
    height: 346px;
  }
}

#subnav {
  @apply -mt-11 lg:block fixed hidden w-full;
  height: 5.75rem;
}

#subnav nav.nav {
  @apply text-balance-lg w-full h-8;
}

#subnav .nav-title,
#subnav .nav-links,
#subnav .nav-links > li > a {
  @apply flex;
}

#subnav .nav-links {
  @apply flex flex-row-reverse justify-end w-1/3 pl-8;
}

li.hoverable {
  > div.mega-menu {
    @apply absolute inset-x-0 z-10 w-full;

    .mega-menu-wrapper {
      background: no-repeat 0.5rem -3.25rem $watermarkimage;
      height: 346px;
      @apply flex mt-2 bg-balance-dp;
    }
  }
}

.hero-message {
  @apply w-1/3 pt-1 pl-4 mb-8 text-right text-white bg-gradient-to-r from-transparent to-gray-500;

  h2 {
    @apply p-4 w-2/3 mt-2 float-right bg-gray-900 rounded-2xl rounded-br-none bg-opacity-40;
  }

  p {
    @apply float-right w-1/2 bg-gray-900 rounded-2xl rounded-t-none p-6 pt-0 bg-opacity-40;
  }
}

.inset {
  @apply bg-gray-500 grid w-2/3 grid-cols-4 grid-rows-1 gap-2 p-3;
}

/* Hoverable Menu Activation */
.inset,
.mega-menu {
  display: none;
}

.hoverable:hover .inset {
  display: grid;
}

.hoverable:hover .mega-menu {
  display: block;
}

body[class^="scroll"] #subnav .nav-links .mega-menu {
  display: none;
}

/* Fixed Nav Links in top-left */
/* --------------------------- */
#subnav .nav-links > li.hoverable {
  @apply bg-balance-lp z-20 pl-6 font-light border-2 rounded-full;
  margin-left: -1.3rem;
}

#subnav .nav-links > li.hoverable {
  @apply bg-gradient-to-r from-balance-lp to-transparent pr-2;
}
#subnav .nav-links > li.hoverable:last-of-type {
  @apply pl-14;
}

/* ---  Scroll behaviour --- */
body[class^="scroll"] #subnav .nav-links > li.hoverable {
  border: none;
}

body[class^="scroll"] #subnav .nav-links > li.hoverable.active {
  @apply pl-24 text-balance-lmint;
  min-width: 12rem;
  order: 1; /* Send it to the front of the flex row to display */
  margin-left: -1.3rem;
}

body[class^="scroll"] #subnav .nav-links > li.hoverable.inactive {
  order: 2;
  width: 0;
  transition: width 1000ms;
  overflow: hidden;
  margin-left: -6rem;
}

#subnav .nav-links > li.hoverable:hover {
  @apply text-balance-lmint;
}
