$maskimage: url("../../../images/fib-mask-1900-380.svg");
$watermarkimage: url("../../../images/watermark.png");

.logo-link {
  @apply fixed z-50 hidden lg:block;
  top: 1px;
  left: 1px;
}

/* Masking */

div.mask-wrapper {
  mask: initial;
}
body[class^="scroll"] #subnav {
  mask: no-repeat 10px -20px $maskimage;
}

body[class^="scroll"] .mask-wrapper {
  mask: initial;
}

@media (min-width: 1024px) {
  div.mask-wrapper {
    @apply relative z-40 overflow-hidden;
    mask: no-repeat 10px -20px $maskimage;
  }
  div.mask-wrapper:hover {
    height: 346px;
  }
}

#subnav {
  @apply -mt-11 lg:block fixed hidden w-full;
  height: 15.75rem;
}

#subnav nav.nav {
  @apply w-full h-8;
}

#subnav .nav-title,
#subnav .nav-links,
#subnav .nav-links > li > a {
  @apply flex lg:-mt-1.5;
}

#subnav .nav-links {
  @apply flex flex-row-reverse justify-end w-1/3 pl-8;
}

li.hoverable {
  a {
    @apply pt-1;
  }
  > div.mega-menu {
    @apply absolute inset-x-0 z-10 pt-2 w-full;

    .mega-menu-wrapper {
      background: no-repeat 0.5rem -3.25rem $watermarkimage;
      height: 344px;
      @apply flex mt-2 bg-balance-dp;
    }
  }
}

.hero-message {
  @apply w-1/4 pl-4 pr-2 mb-8 bg-gradient-to-r from-transparent to-balance-hero;

  h2 {
    @apply p-6 w-2/3 mt-1 float-right bg-gray-900 rounded-2xl rounded-br-none bg-opacity-40;
  }

  p {
    @apply float-right w-48 bg-gray-900 rounded-2xl rounded-t-none p-4 pt-0 bg-opacity-40;
  }
}

.menu-card {
  @apply flex flex-col justify-around mb-6 px-3;
  h3 {
    line-height: 2rem;
  }

  p {
    @apply px-4;
  }
}

.inset {
  @apply bg-balance-hero grid w-3/4 grid-cols-4 grid-rows-1 gap-2 p-2 pt-1;
}

/* Hoverable Menu Activation */
.inset,
.mega-menu {
  display: none;
}

.hoverable:hover .inset {
  display: grid;
}

.hoverable:hover .mega-menu {
  display: block;
}

body[class^="scroll"] #subnav .nav-links .mega-menu {
  display: none;
}

/* Fixed Nav Links in top-left */
/* --------------------------- */
#subnav .nav-links > li.hoverable {
  @apply bg-balance-hero z-20 pl-6 font-light border-2 rounded-full;
  margin-left: -1.3rem;
}

#subnav .nav-links > li.hoverable {
  @apply bg-balance-hero pr-2;
}

#subnav .nav-links > li.hoverable:hover {
  @apply bg-gradient-to-r from-balance-lg to-transparent;
}

#subnav .nav-links > li.hoverable:last-of-type {
  @apply pl-14;
}

#subnav .nav-links > li.hoverable:last-of-type::before {
  content:url('../../../images/icons/slash.svg');
  position:absolute;
  z-index:100;
  left: 62px;
  top: -10px;
  width: 4px;
  height: 4px;
  transform: rotate(39deg) scale(0.6);

}

/* ---  Scroll behaviour --- */
body[class^="scroll"] #subnav .nav-links > li.hoverable {
  border: none;
}

body[class^="scroll"] #subnav .nav-links > li.hoverable.active {
  @apply text-balance-lmint bg-balance-lp;
  padding-left: 11rem;
  min-width: 12rem;
  order: 1; /* Send it to the front of the flex row to display */
  margin-left: -1.3rem;
}

body[class^="scroll"] #subnav .nav-links > li.hoverable.active a {
  @apply pl-2;
} 

body[class^="scroll"] #subnav .nav-links > li.hoverable.inactive {
  order: 2;
  width: 0;
  transition: width 1000ms;
  overflow: hidden;
  margin-left: -6rem;
}

#subnav .nav-links > li.hoverable:hover a,
#subnav .nav-links > li.hoverable.active:hover a {
  @apply text-balance-secondary;
}
