#subnav {
  mask: no-repeat 10px -20px url("../../images/fibonacci-mask-long.svg");
  @apply -mt-12 hidden lg:block h-full w-full fixed;
}

nav.nav {
  @apply w-full text-balance-lg h-12;
}

.nav-title,
.nav-links,
.nav-links > li > a {
  @apply flex;
}

.nav-links {
  @apply w-1/3 pl-8;
}

li.hoverable {
  @apply px-2 -ml-1 bg-balance-lp font-light border-2 rounded-b-lg;

  > a {
    @apply text-sm font-bold leading-10;
  }

  > div.mega-menu {
    @apply w-full absolute inset-x-0 z-10;

    .mega-menu-wrapper {
      background: no-repeat 0.5rem -3.25rem url(../../images/wm1.png);
      height: 288px;
      @apply bg-gray-700 flex;
    }
  }
}

#app > main {
  @apply absolute top-24;
  z-index: -1;
  overflow: auto;
}

.hero-message {
  @apply w-1/3 text-white px-4 mb-8 text-right;

  h2 {
    @apply font-bold text-2xl py-4;
  }

  p {
    width: 50%;
    float: right;
  }
}

.inset {
  @apply flex pr-4 w-2/3 inset-x-0;
}
/* 
  
  .mega-menu-container.container {
    @apply px-5 py-6 mt-4 w-full flex justify-items-center rounded-xl  bg-opacity-80 border-2 border-gray-300;
    margin-top: -0.25em;
  }
}
}
}

*/

/* SUBNAV Hover states 
.inset,
.mega-menu {
  display: none;
}

.hoverable:hover .mega-menu {
  display: block;
}

.nav-links > li.hoverable:hover,
.active {
  @apply h-12;
  color: white;
  border-bottom: 2px solid white;

  > a {
    @apply text-balance-black;
  }
}
*/
