#append-habit {
  @apply flex flex-wrap justify-between ml-2;
}

#append-habit .button-container {
  @apply relative right-0;
}

#append-habit .button-container {
  @apply rounded-2xl mx-0.5;
}

#append-habit > .sub-section-container {
  @apply px-2 my-2 sm:-ml-2 lg:-ml-3 flex-none w-full lg:w-1/2 border-2 bg-gray-100 rounded-2xl;
}

#append-habit > .sub-section-container:last-of-type {
  @apply flex-none sm:mr-2 lg:fixed lg:right-0;
}
