#append-habit {
  @apply flex flex-wrap justify-between space-x-1 ml-1;
}

#append-habit .button-container {
  @apply relative right-0;
}

#append-habit .button-container {
  @apply rounded-2xl mx-0.5;
}

#append-habit > .sub-section-container {
  @apply px-2 my-2 -ml-1 flex-none w-full lg:w-1/2 border-2 bg-gray-100 rounded-2xl;
}

#append-habit > .sub-section-container:last-of-type {
  @apply flex-none lg:fixed lg:right-0;
}
