g.nodes {
  cursor: pointer;
  pointer-events: all;
}

circle.active {
  fill: pink;
}
svg path.link {
  stroke-opacity: 0.5;
  stroke: gray;
  fill: none;
  stroke-width: 2.5;
}

.label {
  opacity: 1;
  fill: red;
}

g.tooltip rect {
	fill: #F8F8F8 ;
  stroke: #1A140E !important;
	stroke-width: 1px;
}
g.tooltip rect:first-of-type {
	fill: #47301f !important;
}
