$maskimage: url("../../images/fib-mask-1900-380.svg");
$watermarkimage: url("../../images/watermark.png");

.logo-link {
  @apply fixed text-transparent z-50 w-12 hidden lg:block;
  left: 5px;
}

.logo-link, nav span {
  cursor: pointer;
}

.logo-link:hover {
  @apply text-balance-secondary;
}

.slash-svg {
  @apply text-balance-dg;
}

/* Masking */

div.mask-wrapper {
  mask: initial;
}
body[class^="scroll"] #subnav {
  mask: no-repeat 10px -20px $maskimage;
}

body[class^="scroll"] .mask-wrapper {
  mask: initial;
}

@media (min-width: 1024px) {
  div.mask-wrapper {
    @apply relative z-40 overflow-hidden;
    mask: no-repeat 10px -20px $maskimage;
  }
  div.mask-wrapper:hover {
    height: 346px;
  }
}

#subnav {
  @apply -mt-11 lg:block fixed hidden w-full;
  height: 15.75rem;
}

#subnav nav.nav {
  @apply w-full h-8;
}

#subnav .nav-title,
#subnav .nav-links,
#subnav .nav-links > li > a {
  @apply flex lg:-mt-1.5;
}

#subnav .nav-links {
  @apply flex flex-row-reverse justify-end w-1/3 pl-8;
}

li.hoverable {
  
  a {
    cursor: pointer;
    @apply pt-1;
  }

  > div.mega-menu {
    @apply absolute inset-x-0 z-10 pt-2 w-full;

    .mega-menu-wrapper {
      background: no-repeat 0.5rem -3.25rem $watermarkimage;
      height: 344px;
      margin-top: 0.65rem;
      @apply flex pr-3 bg-balance-dp;

      .hero-message {
        @apply w-1/4 pl-4 pr-2 mb-8 bg-gradient-to-r from-transparent to-balance-hero;

        h2 {
          @apply p-6 w-2/3 mt-2 float-right bg-gray-900 rounded-2xl rounded-br-none bg-opacity-60;
        }

        p {
          @apply float-right sm:w-1/2 xl:w-48 bg-gray-900 rounded-2xl rounded-t-none p-4 pt-0 bg-opacity-60;
        }
      }

      .inset {
        @apply bg-balance-hero grid rounded-xl rounded-l-none w-3/4 grid-cols-4 grid-rows-1 gap-2 p-0 pr-2 pt-2;
        
        .menu-card {
          @apply flex flex-col justify-around mb-6 px-3;
          h3 {
            line-height: 2rem;
          }

          button {
            @apply absolute top-32 mt-12 p-3 rounded-xl bg-gray-400 text-balance-dp uppercase;

          }
          button:hover {
            @apply text-balance-lmint border-2 border-balance-dp;
          }

          p {
            @apply px-4;
          }
        }   

        .menu-card.active {
          @apply bg-gray-50 border-balance-secondary border-2;

          button {
            @apply bg-balance-secondary text-gray-50;
          }

          button:hover {
            @apply border-0;
          }
        }
      }
    }
  }
}

/* Hoverable Menu Activation */
.inset,
.mega-menu {
  display: none;
}

.hoverable:hover .inset {
  display: grid;
}

.hoverable:hover .mega-menu {
  display: block;
}

body[class^="scroll"] #subnav .nav-links .mega-menu {
  display: none;
}

/* Fixed Nav Links in top-left */
/* --------------------------- */
#subnav .nav-links > li.hoverable {
  @apply bg-balance-hero z-20 pl-6 font-light border-2 rounded-full;
  margin-left: -1.3rem;
  transition: margin-left .2s ease-out;
}

#subnav .nav-links > li.hoverable {
  @apply bg-balance-hero pr-2;
}

#subnav .nav-links > li.hoverable:hover {
  @apply bg-gradient-to-r from-balance-lg to-transparent;
}

#subnav .nav-links > li.hoverable:last-of-type {
  @apply pl-14;
}

/* 'Slash' SVG between logo and nav-link */
body[class^="scroll"] #subnav .nav-links > li.hoverable:last-of-type::before {
  top: 54px;
  left: 29px;
  transform: rotate(218deg) scale(0.9);
}

#subnav .nav-links > li.hoverable:last-of-type::before {
  content:url('../../images/icons/slash.svg');
  position:absolute;
  z-index:40;
  left: 62px;
  top: -10px;
  width: 4px;
  height: 4px;
  transform: rotate(39deg) scale(0.6);

}

/* ---  Scroll behaviour --- */

body[class^="scroll"] #subnav .nav-links > li.hoverable.active {
  @apply text-balance-lmint bg-balance-lp border-0;
  padding-left: 11rem;
  margin-left: -1.3rem;
  min-width: 12rem;
  order: 1; /* Send it to the front of the flex row to display */
}

body[class^="scroll"] #subnav .nav-links > li.hoverable.active a {
  @apply pr-2 my-1 pl-0;
} 

body[class^="scroll"] #subnav .nav-links > li.hoverable.inactive {
  order: 2;
  transition: width 2s ease-in, margin-left 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 0%;
  overflow: hidden;
  margin-left: -6rem;
}

body[class^="scroll"] #subnav .nav-links > li.hoverable.active {
  margin-top: -1px;
  @apply h-12;
}

/* ---  Hover States --- */

body[class^="scroll"] #subnav .nav-links > li.hoverable:hover {
  @apply bg-gradient-to-r from-balance-black to-transparent;
}

#subnav .nav-links > li.hoverable:hover a,
body[class^="scroll"] #subnav .nav-links > li.hoverable.active:hover a {
  @apply text-balance-secondary;
}
