@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap");
@import url("../../fonts/stylesheet.css");
